In [1]:
%cd ~/nbs/kaggle_rossmann/

/home/ubuntu/nbs/kaggle_rossmann

In [2]:
%matplotlib inline

In [3]:
import math, keras, datetime, pandas as pd, numpy as np, keras.backend as K
import matplotlib.pyplot as plt, xgboost, operator, random, pickle

/home/ubuntu/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
from utils2 import *

In [5]:
np.set_printoptions(threshold=50, edgeitems=20)

In [6]:
from isoweek import Week
from pandas_summary import DataFrameSummary

## Create datasets

In [7]:
def concat_csvs(dirname):
    os.chdir(dirname)
    filenames=glob.glob("*.csv")

    wrote_header = False
    with open("../"+dirname+".csv","w") as outputfile:
        for filename in filenames:
            name = filename.split(".")[0]
            with open(filename) as f:
                line = f.readline()
                if not wrote_header:
                    wrote_header = True
                    outputfile.write("file,"+line)
                for line in f:
                     outputfile.write(name + "," + line)
                outputfile.write("\n")

    os.chdir("..")

In [8]:
# concat_csvs('googletrend')
# concat_csvs('weather')

In [9]:
table_names = ['train', 'store', 'store_states', 'state_names', 
               'googletrend', 'weather', 'test']

In [10]:
tables = [pd.read_csv(fname+'.csv', low_memory=False) for fname in table_names]

In [11]:
from IPython.display import HTML

In [12]:
for t in tables: display(t.head())

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [13]:
for t in tables: display(DataFrameSummary(t).summary())

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
count,1.01721e+06,1.01721e+06,NaN,1.01721e+06,1.01721e+06,1.01721e+06,1.01721e+06,NaN,1.01721e+06
mean,558.43,3.99834,NaN,5773.82,633.146,0.830107,0.381515,NaN,0.178647
std,321.909,1.99739,NaN,3849.93,464.412,0.375539,0.485759,NaN,0.383056
min,1,1,NaN,0,0,0,0,NaN,0
25%,280,2,NaN,3727,405,1,0,NaN,0
50%,558,4,NaN,5744,609,1,0,NaN,0
75%,838,6,NaN,7856,837,1,1,NaN,0
max,1115,7,NaN,41551,7388,1,1,NaN,1
counts,1017209,1017209,1017209,1017209,1017209,1017209,1017209,1017209,1017209
uniques,1115,7,942,21734,4086,2,2,4,2
missing,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,numeric,categorical,numeric,numeric,bool,bool,categorical,bool

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
count,1115,NaN,NaN,1112,761,761,1115,571,571,NaN
mean,558,NaN,NaN,5404.9,7.2247,2008.67,0.512108,23.5954,2011.76,NaN
std,322.017,NaN,NaN,7663.17,3.21235,6.19598,0.500078,14.142,1.67494,NaN
min,1,NaN,NaN,20,1,1900,0,1,2009,NaN
25%,279.5,NaN,NaN,717.5,4,2006,0,13,2011,NaN
50%,558,NaN,NaN,2325,8,2010,1,22,2012,NaN
75%,836.5,NaN,NaN,6882.5,10,2013,1,37,2013,NaN
max,1115,NaN,NaN,75860,12,2015,1,50,2015,NaN
counts,1115,1115,1115,1112,761,761,1115,571,571,571
uniques,1115,4,3,654,12,23,2,24,7,3
missing,0,0,0,3,354,354,0,544,544,544
missing_perc,0%,0%,0%,0.27%,31.75%,31.75%,0%,48.79%,48.79%,48.79%
types,numeric,categorical,categorical,numeric,numeric,numeric,bool,numeric,numeric,categorical

                Store        State
count            1115          NaN
mean              558          NaN
std           322.017          NaN
min                 1          NaN
25%             279.5          NaN
50%               558          NaN
75%             836.5          NaN
max              1115          NaN
counts           1115         1115
uniques          1115           12
missing             0            0
missing_perc       0%           0%
types         numeric  categorical

             StateName   State
count               16      16
unique              16      16
top             Bremen   HB,NI
freq                 1       1
counts              16      16
uniques             16      16
missing              0       0
missing_perc        0%      0%
types           unique  unique

                     file         week    trend
count                 NaN          NaN     2072
mean                  NaN          NaN  63.8142
std                   NaN          NaN  12.6502
min                   NaN          NaN        0
25%                   NaN          NaN       55
50%                   NaN          NaN       64
75%                   NaN          NaN       72
max                   NaN          NaN      100
counts               2072         2072     2072
uniques                14          148       68
missing                 0            0        0
missing_perc           0%           0%       0%
types         categorical  categorical  numeric

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
count,NaN,NaN,15840,15840,15840,15840,15840,15840,15840,15840,...,15459,15459,15459,15840,15840,3604,15840,14667,NaN,15840
mean,NaN,NaN,14.6441,10.389,6.19899,8.58782,6.20581,3.62614,93.6596,74.2829,...,24.0576,12.2398,7.02516,22.7666,11.9722,48.8643,0.831718,5.55131,NaN,175.897
std,NaN,NaN,8.64601,7.37926,6.52639,6.24478,6.08677,6.12839,7.67853,13.4866,...,8.9768,5.06794,4.9806,8.98862,5.87284,13.027,2.51351,1.68771,NaN,101.589
min,NaN,NaN,-11,-13,-15,-14,-15,-73,44,30,...,0,0,0,3,2,21,0,0,NaN,-1
25%,NaN,NaN,8,4,1,4,2,-1,90.75,65,...,14,10,3,16,8,39,0,5,NaN,80
50%,NaN,NaN,15,11,7,9,7,4,94,76,...,31,11,7,21,11,48,0,6,NaN,202
75%,NaN,NaN,21,16,11,13,11,8,100,85,...,31,14,10,27,14,55,0.25,7,NaN,256
max,NaN,NaN,39,31,24,25,20,19,100,100,...,31,31,31,101,53,111,58.93,8,NaN,360
counts,15840,15840,15840,15840,15840,15840,15840,15840,15840,15840,...,15459,15459,15459,15840,15840,3604,15840,14667,11889,15840
uniques,16,990,51,45,40,40,36,40,53,71,...,24,32,24,44,29,47,41,9,21,362
missing,0,0,0,0,0,0,0,0,0,0,...,381,381,381,0,0,12236,0,1173,3951,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,...,2.41%,2.41%,2.41%,0%,0%,77.25%,0%,7.41%,24.94%,0%
types,categorical,categorical,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,...,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,categorical,numeric

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
count,41088,41088,41088,NaN,41077,41088,NaN,41088
mean,20544.5,555.9,3.97917,NaN,0.854322,0.395833,NaN,0.443487
std,11861.2,320.274,2.01548,NaN,0.352787,0.489035,NaN,0.496802
min,1,1,1,NaN,0,0,NaN,0
25%,10272.8,279.75,2,NaN,1,0,NaN,0
50%,20544.5,553.5,4,NaN,1,0,NaN,0
75%,30816.2,832.25,6,NaN,1,1,NaN,1
max,41088,1115,7,NaN,1,1,NaN,1
counts,41088,41088,41088,41088,41077,41088,41088,41088
uniques,41088,856,7,48,2,2,2,2
missing,0,0,0,0,11,0,0,0
missing_perc,0%,0%,0%,0%,0.03%,0%,0%,0%
types,numeric,numeric,numeric,categorical,bool,bool,bool,bool

In [14]:
train, store, store_states, state_names, googletrend, weather, test = tables

In [15]:
len(train),len(test)

(1017209, 41088)

In [16]:
train.StateHoliday = train.StateHoliday!='0'
test.StateHoliday = test.StateHoliday!='0'

In [17]:
def join_df(left, right, left_on, right_on=None):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", "_y"))

In [18]:
weather = join_df(weather, state_names, "file", "StateName")

In [19]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.ix[googletrend.State=='NI', "State"] = 'HB,NI'

/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
def add_datepart(df):
    df.Date = pd.to_datetime(df.Date)
    df["Year"] = df.Date.dt.year
    df["Month"] = df.Date.dt.month
    df["Week"] = df.Date.dt.week
    df["Day"] = df.Date.dt.day

In [21]:
add_datepart(weather)
add_datepart(googletrend)
add_datepart(train)
add_datepart(test)

In [22]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

In [23]:
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [24]:
joined = join_df(train, store, "Store")
len(joined[joined.StoreType.isnull()])

0

In [25]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
len(joined[joined.trend.isnull()])

0

In [26]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
len(joined[joined.trend_DE.isnull()])

0

In [27]:
joined = join_df(joined, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()])

0

In [28]:
joined_test = test.merge(store, how='left', left_on='Store', right_index=True)
len(joined_test[joined_test.StoreType.isnull()])

48

In [29]:
#very slow
joined.CompetitionOpenSinceYear = joined.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
joined.CompetitionOpenSinceMonth = joined.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
joined.Promo2SinceYear = joined.Promo2SinceYear.fillna(1900).astype(np.int32)
joined.Promo2SinceWeek = joined.Promo2SinceWeek.fillna(1).astype(np.int32)

In [30]:
joined["CompetitionOpenSince"] = pd.to_datetime(joined.apply(lambda x: datetime.datetime(
    x.CompetitionOpenSinceYear, x.CompetitionOpenSinceMonth, 15), axis=1).astype(pd.datetime))
joined["CompetitionDaysOpen"] = joined.Date.subtract(joined["CompetitionOpenSince"]).dt.days

In [31]:
joined.loc[joined.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
joined.loc[joined.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

In [32]:
joined["CompetitionMonthsOpen"] = joined["CompetitionDaysOpen"]//30
joined.loc[joined.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,
        1, 14, 20,  8, 18,  6, 21,  5])

In [33]:
joined["Promo2Since"] = pd.to_datetime(joined.apply(lambda x: Week(
    x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1).astype(pd.datetime))
joined["Promo2Days"] = joined.Date.subtract(joined["Promo2Since"]).dt.days

In [34]:
joined.loc[joined.Promo2Days<0, "Promo2Days"] = 0
joined.loc[joined.Promo2SinceYear<1990, "Promo2Days"] = 0

In [35]:
joined["Promo2Weeks"] = joined["Promo2Days"]//7
joined.loc[joined.Promo2Weeks<0, "Promo2Weeks"] = 0
joined.loc[joined.Promo2Weeks>25, "Promo2Weeks"] = 25
joined.Promo2Weeks.unique()

array([ 0, 25, 17,  8, 13, 24, 16,  7, 12, 23, 15,  6, 11, 22, 14,  5, 10,
       21,  4,  9, 20,  3, 19,  2, 18,  1])

## Durations

In [36]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [37]:
class elapsed(object):
    def __init__(self, fld):
        self.fld = fld
        self.last = pd.to_datetime(np.nan)
        self.last_store = 0
        
    def get(self, row):
        if row.Store != self.last_store:
            self.last = pd.to_datetime(np.nan)
            self.last_store = row.Store
        if (row[self.fld]): self.last = row.Date
        return row.Date-self.last

In [38]:
df = train[columns]

In [39]:
def add_elapsed(fld, prefix):
    sh_el = elapsed(fld)
    df[prefix+fld] = df.apply(sh_el.get, axis=1)

In [40]:
fld = 'SchoolHoliday'
df = df.sort_values(['Store', 'Date'])
add_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
add_elapsed(fld, 'Before')

In [41]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
add_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
add_elapsed(fld, 'Before')

In [42]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
add_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
add_elapsed(fld, 'Before')

In [43]:
df = df.set_index("Date")

In [44]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [45]:
for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(pd.Timedelta(0)).dt.days

In [46]:
bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [47]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

In [48]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [49]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [50]:
df.reset_index(inplace=True)

In [51]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [52]:
df.drop(columns,1,inplace=True)

In [53]:
df.head()

,Date,Store,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,2015-07-31,1,0,0,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
1,2015-07-30,1,0,0,56,0,0,0,4.0,0.0,4.0,2.0,0.0,2.0
2,2015-07-29,1,0,0,55,0,0,0,3.0,0.0,3.0,3.0,0.0,3.0
3,2015-07-28,1,0,0,54,0,0,0,2.0,0.0,2.0,4.0,0.0,4.0
4,2015-07-27,1,0,0,53,0,0,0,1.0,0.0,1.0,5.0,0.0,5.0

In [54]:
df.to_csv('df.csv')

In [55]:
df = pd.read_csv('df.csv', index_col=0)

/home/ubuntu/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:395: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [56]:
df["Date"] = pd.to_datetime(df.Date)

In [57]:
df.columns

Index(['Date', 'Store', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday', 'BeforeStateHoliday', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bw', 'Promo_bw', 'SchoolHoliday_fw',
       'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

In [58]:
joined = join_df(joined, df, ['Store', 'Date'])

In [59]:
joined.to_csv('joined.csv')

In [60]:
joined = pd.read_csv('joined.csv', index_col=0)
joined["Date"] = pd.to_datetime(joined.Date)
joined.columns

/home/ubuntu/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:395: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'Date_y', 'Month_y', 'Day_y', 'file_DE', 'week_DE',
       'trend_DE', 'Date_DE', 'State_DE', 'Month_DE', 'Day_DE', 'file_y',
       'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
       'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_PressurehPa',
       'Mean_Sea_Level_PressurehPa', 'Min_Sea_Level_PressurehPa',
       'Max_VisibilityKm', 'Mean_VisibilityKm', 'Min_VisibilitykM',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'Max_Gust_SpeedKm_h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees',
       'StateName', 'Year_y', 'Month_y.1', 'Week_y', 'Day_y.1',
       'CompetitionOpenSince', 'CompetitionDaysOpen', 'CompetitionMonthsOpen',
       'Promo2Since', 'Promo2Days', 'Promo2Weeks', 'AfterSchoolHoliday',
       'BeforeSchoolHoliday', 'AfterStateHoliday', 'BeforeStateHoliday',
       'AfterPromo', 'BeforePromo', 'SchoolHoliday_bw', 'StateHoliday_bw',
       'Promo_bw', 'SchoolHoliday_fw', 'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

## Create features

In [62]:
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import LabelEncoder, Imputer, StandardScaler

In [63]:
# in the papaer (of competition 3rd place winners), they said that they chose dim of the embedding manualy
cat_var_dict = {'Store': 50, 'DayOfWeek': 6, 'Year': 2, 'Month': 6,
'Day': 10, 'StateHoliday': 3, 'CompetitionMonthsOpen': 2,
'Promo2Weeks': 1, 'StoreType': 2, 'Assortment': 3, 'PromoInterval': 3,
'CompetitionOpenSinceYear': 4, 'Promo2SinceYear': 4, 'State': 6,
'Week': 2, 'Events': 4, 'Promo_fw': 1,
'Promo_bw': 1, 'StateHoliday_fw': 1,
'StateHoliday_bw': 1, 'SchoolHoliday_fw': 1,
'SchoolHoliday_bw': 1}

In [64]:
cat_vars = [o[0] for o in 
            sorted(cat_var_dict.items(), key=operator.itemgetter(1), reverse=True)]

In [65]:
"""cat_vars = ['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday',
           'StoreType', 'Assortment', 'Week', 'Events', 'Promo2SinceYear',
            'CompetitionOpenSinceYear', 'PromoInterval', 'Promo', 'SchoolHoliday', 'State']"""

"cat_vars = ['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday',\n           'StoreType', 'Assortment', 'Week', 'Events', 'Promo2SinceYear',\n            'CompetitionOpenSinceYear', 'PromoInterval', 'Promo', 'SchoolHoliday', 'State']"

In [66]:
# mean/max wind; min temp; cloud; min/mean humid; 
contin_vars = ['CompetitionDistance', 
   'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
   'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 'Max_Wind_SpeedKm_h', 
   'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 'trend_DE',
   'AfterStateHoliday', 'BeforeStateHoliday', 'Promo', 'SchoolHoliday']

In [67]:
"""contin_vars = ['CompetitionDistance', 'Max_TemperatureC', 'Mean_TemperatureC', 
   'Max_Humidity', 'trend', 'trend_DE', 'AfterStateHoliday', 'BeforeStateHoliday']"""

"contin_vars = ['CompetitionDistance', 'Max_TemperatureC', 'Mean_TemperatureC', \n   'Max_Humidity', 'trend', 'trend_DE', 'AfterStateHoliday', 'BeforeStateHoliday']"

In [68]:
for v in contin_vars: joined.ix[joined[v].isnull(), v] = 0
for v in cat_vars: joined.ix[joined[v].isnull(), v] = ""

/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

In [69]:
cat_maps = [(o, LabelEncoder()) for o in cat_vars]
contin_maps = [([o], StandardScaler()) for o in contin_vars]

In [70]:

cat_mapper = DataFrameMapper(cat_maps)
cat_map_fit = cat_mapper.fit(joined)
cat_cols = len(cat_map_fit.features)
cat_cols

22

In [71]:
contin_mapper = DataFrameMapper(contin_maps)
contin_map_fit = contin_mapper.fit(joined)
contin_cols = len(contin_map_fit.features)
contin_cols

/home/ubuntu/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)

16

In [72]:
cat_map_fit.transform(joined)[0,:5], contin_map_fit.transform(joined)[0,:5]

/home/ubuntu/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)

(array([ 0, 30,  4,  6,  4]),
 array([-0.53772351,  1.02444552,  0.81863226,  0.32504749,  0.61112004]))

In [73]:
pickle.dump(contin_map_fit, open('contin_maps.pickle', 'wb'))
pickle.dump(cat_map_fit, open('cat_maps.pickle', 'wb'))

In [74]:
[len(o[1].classes_) for o in cat_map_fit.features]

[1115, 31, 7, 12, 12, 23, 8, 22, 2, 3, 4, 3, 25, 4, 52, 26, 6, 6, 3, 3, 8, 8]

## Sample data

In [75]:
joined_sales = joined[joined.Sales!=0]
n = len(joined_sales)

In [76]:
n

844338

In [77]:
samp_size = 100000
np.random.seed(42)
idxs = sorted(np.random.choice(n, samp_size, replace=False))

In [78]:
joined_samp = joined_sales.iloc[idxs].set_index("Date")

In [79]:
samp_size = n
joined_samp = joined_sales.set_index("Date")

In [80]:
train_ratio = 0.9
train_size = int(samp_size * train_ratio)

In [81]:
train_size

759904

In [82]:
joined_valid = joined_samp[train_size:]
joined_train = joined_samp[:train_size]
len(joined_valid), len(joined_train)

(84434, 759904)

In [83]:
def cat_preproc(dat):
    return cat_map_fit.transform(dat).astype(np.int64)

In [84]:
cat_map_train = cat_preproc(joined_train)
cat_map_valid = cat_preproc(joined_valid)

In [85]:
def contin_preproc(dat):
    return contin_map_fit.transform(dat).astype(np.float32)

In [86]:
contin_map_train = contin_preproc(joined_train)
contin_map_valid = contin_preproc(joined_valid)

/home/ubuntu/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)

In [87]:
y_train_orig = joined_train.Sales
y_valid_orig = joined_valid.Sales

In [88]:
max_log_y = np.max(np.log(joined_samp.Sales))
y_train = np.log(y_train_orig)/max_log_y
y_valid = np.log(y_valid_orig)/max_log_y

In [89]:
"""#y_train = np.log(y_train)
ymean=y_train_orig.mean()
ystd=y_train_orig.std()
y_train = (y_train_orig-ymean)/ystd
#y_valid = np.log(y_valid)
y_valid = (y_valid_orig-ymean)/ystd"""

'#y_train = np.log(y_train)\nymean=y_train_orig.mean()\nystd=y_train_orig.std()\ny_train = (y_train_orig-ymean)/ystd\n#y_valid = np.log(y_valid)\ny_valid = (y_valid_orig-ymean)/ystd'

In [90]:
def rmspe(y_pred, targ = y_valid_orig):
    pct_var = (targ - y_pred)/targ
    return math.sqrt(np.square(pct_var).mean())

In [91]:
def log_max_inv(preds, mx = max_log_y):
    return np.exp(preds * mx)

In [92]:
def normalize_inv(preds):
    return preds * ystd + ymean

## Create models

In [93]:
"""
1 97s - loss: 0.0104 - val_loss: 0.0083
2 93s - loss: 0.0076 - val_loss: 0.0076
3 90s - loss: 0.0071 - val_loss: 0.0076
4 90s - loss: 0.0068 - val_loss: 0.0075
5 93s - loss: 0.0066 - val_loss: 0.0075
6 95s - loss: 0.0064 - val_loss: 0.0076
7 98s - loss: 0.0063 - val_loss: 0.0077
8 97s - loss: 0.0062 - val_loss: 0.0075
9 95s - loss: 0.0061 - val_loss: 0.0073
0 101s - loss: 0.0061 - val_loss: 0.0074
"""

'\n1 97s - loss: 0.0104 - val_loss: 0.0083\n2 93s - loss: 0.0076 - val_loss: 0.0076\n3 90s - loss: 0.0071 - val_loss: 0.0076\n4 90s - loss: 0.0068 - val_loss: 0.0075\n5 93s - loss: 0.0066 - val_loss: 0.0075\n6 95s - loss: 0.0064 - val_loss: 0.0076\n7 98s - loss: 0.0063 - val_loss: 0.0077\n8 97s - loss: 0.0062 - val_loss: 0.0075\n9 95s - loss: 0.0061 - val_loss: 0.0073\n0 101s - loss: 0.0061 - val_loss: 0.0074\n'

In [94]:
def split_cols(arr): return np.hsplit(arr,arr.shape[1])

In [95]:
map_train = split_cols(cat_map_train) + [contin_map_train]
map_valid = split_cols(cat_map_valid) + [contin_map_valid]

In [96]:
map_train = split_cols(cat_map_train) + split_cols(contin_map_train)
map_valid = split_cols(cat_map_valid) + split_cols(contin_map_valid)

In [97]:
def cat_map_info(feat): return feat[0], len(feat[1].classes_)

In [98]:
cat_map_info(cat_map_fit.features[1])

('Day', 31)

In [105]:
from keras import initializers

In [106]:
def my_init(scale):
    return lambda shape, name=None: initializers.uniform(shape, scale=scale, name=name)

In [111]:
def emb_init(shape, name=None): 
    return initializers.uniform(shape)

In [133]:
??initializers.uniform()

In [132]:
initializers.uniform(1)

In [134]:
def get_emb(feat):
    name, c = cat_map_info(feat)
    #c2 = cat_var_dict[name]
    c2 = (c+1)//2
    if c2>50: c2=50
    inp = Input((1,), dtype='int64', name=name+'_in')
    # , W_regularizer=l2(1e-6)
    emb=Embedding(c, c2, input_length=1)(inp)
    u = Flatten(name=name+'_flt')(emb)
#     u = Flatten(name=name+'_flt')(Embedding(c, c2, input_length=1)(inp))
    return inp,u

In [123]:
name, c =cat_map_info(cat_map_fit.features[0])

In [125]:
c2 = (c+1)//2
if c2>50: c2=50

In [126]:
inp = Input((1,), dtype='int64', name=name+'_in')
inp

In [130]:
emb=Embedding(c, c2, input_length=1, init=emb_init)(inp)

/home/ubuntu/anaconda3/lib/python3.6/site-packages/keras/legacy/interfaces.py:86: UserWarning: Update your `Embedding` call to the Keras 2 API: `Embedding(1115, 50, input_length=1, embeddings_initializer=<function ...)`
  '` call to the Keras 2 API: ' + signature)

TypeError: __call__() missing 1 required positional argument: 'shape'

In [102]:
def get_contin(feat):
    name = feat[0][0]
    inp = Input((1,), name=name+'_in')
    return inp, Dense(1, name=name+'_d', init=my_init(1.))(inp)

In [103]:
contin_inp = Input((contin_cols,), name='contin')
contin_out = Dense(contin_cols*10, activation='relu', name='contin_d')(contin_inp)
#contin_out = BatchNormalization()(contin_out)

In [147]:
#tyuta
contin_out

In [148]:
[emb for inp,emb in embs]

[<tf.Tensor 'Store_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'Day_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'DayOfWeek_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'Month_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'State_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'CompetitionOpenSinceYear_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'Promo2SinceYear_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'Events_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'StateHoliday_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'Assortment_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'PromoInterval_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'Year_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'CompetitionMonthsOpen_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'StoreType_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'Week_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'Promo2Weeks_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'Promo_fw_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'Promo_bw_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'StateHoliday_fw_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'StateHoliday_bw_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'SchoolHoliday_fw_flt/Reshape:0' shape=(?, ?) dtype=float32>,
 <tf.Tensor 'SchoolHoliday_bw_flt/Reshape:0' shape=(?, ?) dtype=float32>]

In [150]:
from keras.layers.merge import concatenate

embs = [get_emb(feat) for feat in cat_map_fit.features]
#conts = [get_contin(feat) for feat in contin_map_fit.features]
#contin_d = [d for inp,d in conts]
x = concatenate([emb for inp,emb in embs] + [contin_out])
#x = merge([emb for inp,emb in embs] + contin_d, mode='concat')

x = Dropout(0.02)(x)
x = Dense(1000, activation='relu', init='uniform')(x)
x = Dense(500, activation='relu', init='uniform')(x)
x = Dropout(0.2)(x)
x = Dense(1, activation='sigmoid')(x)

model = Model([inp for inp,emb in embs] + [contin_inp], x)
#model = Model([inp for inp,emb in embs] + [inp for inp,d in conts], x)
model.compile('adam', 'mean_absolute_error')
#model.compile(Adam(), 'mse')

/home/ubuntu/anaconda3/lib/python3.6/site-packages/keras/legacy/interfaces.py:86: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1000, activation="relu", kernel_initializer="uniform")`
  '` call to the Keras 2 API: ' + signature)
/home/ubuntu/anaconda3/lib/python3.6/site-packages/keras/legacy/interfaces.py:86: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(500, activation="relu", kernel_initializer="uniform")`
  '` call to the Keras 2 API: ' + signature)

In [136]:
model.summary()

____________________________________________________________________________________________________
Layer (type)                     Output Shape          Param #     Connected to
====================================================================================================
Store_in (InputLayer)            (None, 1)             0
____________________________________________________________________________________________________
Day_in (InputLayer)              (None, 1)             0
____________________________________________________________________________________________________
DayOfWeek_in (InputLayer)        (None, 1)             0
____________________________________________________________________________________________________
Month_in (InputLayer)            (None, 1)             0
____________________________________________________________________________________________________
State_in (InputLayer)            (None, 1)             0
____________________________________________________________________________________________________
CompetitionOpenSinceYear_in (Inp (None, 1)             0
____________________________________________________________________________________________________
Promo2SinceYear_in (InputLayer)  (None, 1)             0
____________________________________________________________________________________________________
Events_in (InputLayer)           (None, 1)             0
____________________________________________________________________________________________________
StateHoliday_in (InputLayer)     (None, 1)             0
____________________________________________________________________________________________________
Assortment_in (InputLayer)       (None, 1)             0
____________________________________________________________________________________________________
PromoInterval_in (InputLayer)    (None, 1)             0
____________________________________________________________________________________________________
Year_in (InputLayer)             (None, 1)             0
____________________________________________________________________________________________________
CompetitionMonthsOpen_in (InputL (None, 1)             0
____________________________________________________________________________________________________
StoreType_in (InputLayer)        (None, 1)             0
____________________________________________________________________________________________________
Week_in (InputLayer)             (None, 1)             0
____________________________________________________________________________________________________
Promo2Weeks_in (InputLayer)      (None, 1)             0
____________________________________________________________________________________________________
Promo_fw_in (InputLayer)         (None, 1)             0
____________________________________________________________________________________________________
Promo_bw_in (InputLayer)         (None, 1)             0
____________________________________________________________________________________________________
StateHoliday_fw_in (InputLayer)  (None, 1)             0
____________________________________________________________________________________________________
StateHoliday_bw_in (InputLayer)  (None, 1)             0
____________________________________________________________________________________________________
SchoolHoliday_fw_in (InputLayer) (None, 1)             0
____________________________________________________________________________________________________
SchoolHoliday_bw_in (InputLayer) (None, 1)             0
____________________________________________________________________________________________________
embedding_10 (Embedding)         (None, 1, 50)         55750
____________________________________________________________________________________________________
embedding_11 (Embedding)         (None, 1, 16)         496
____________________________________________________________________________________________________
embedding_12 (Embedding)         (None, 1, 4)          28
____________________________________________________________________________________________________
embedding_13 (Embedding)         (None, 1, 6)          72
____________________________________________________________________________________________________
embedding_14 (Embedding)         (None, 1, 6)          72
____________________________________________________________________________________________________
embedding_15 (Embedding)         (None, 1, 12)         276
____________________________________________________________________________________________________
embedding_16 (Embedding)         (None, 1, 4)          32
____________________________________________________________________________________________________
embedding_17 (Embedding)         (None, 1, 11)         242
____________________________________________________________________________________________________
embedding_18 (Embedding)         (None, 1, 1)          2
____________________________________________________________________________________________________
embedding_19 (Embedding)         (None, 1, 2)          6
____________________________________________________________________________________________________
embedding_20 (Embedding)         (None, 1, 2)          8
____________________________________________________________________________________________________
embedding_21 (Embedding)         (None, 1, 2)          6
____________________________________________________________________________________________________
embedding_22 (Embedding)         (None, 1, 13)         325
____________________________________________________________________________________________________
embedding_23 (Embedding)         (None, 1, 2)          8
____________________________________________________________________________________________________
embedding_24 (Embedding)         (None, 1, 26)         1352
____________________________________________________________________________________________________
embedding_25 (Embedding)         (None, 1, 13)         338
____________________________________________________________________________________________________
embedding_26 (Embedding)         (None, 1, 3)          18
____________________________________________________________________________________________________
embedding_27 (Embedding)         (None, 1, 3)          18
____________________________________________________________________________________________________
embedding_28 (Embedding)         (None, 1, 2)          6
____________________________________________________________________________________________________
embedding_29 (Embedding)         (None, 1, 2)          6
____________________________________________________________________________________________________
embedding_30 (Embedding)         (None, 1, 4)          32
____________________________________________________________________________________________________
embedding_31 (Embedding)         (None, 1, 4)          32
____________________________________________________________________________________________________
contin (InputLayer)              (None, 16)            0
____________________________________________________________________________________________________
Store_flt (Flatten)              (None, 50)            0
____________________________________________________________________________________________________
Day_flt (Flatten)                (None, 16)            0
____________________________________________________________________________________________________
DayOfWeek_flt (Flatten)          (None, 4)             0
____________________________________________________________________________________________________
Month_flt (Flatten)              (None, 6)             0
____________________________________________________________________________________________________
State_flt (Flatten)              (None, 6)             0
____________________________________________________________________________________________________
CompetitionOpenSinceYear_flt (Fl (None, 12)            0
____________________________________________________________________________________________________
Promo2SinceYear_flt (Flatten)    (None, 4)             0
____________________________________________________________________________________________________
Events_flt (Flatten)             (None, 11)            0
____________________________________________________________________________________________________
StateHoliday_flt (Flatten)       (None, 1)             0
____________________________________________________________________________________________________
Assortment_flt (Flatten)         (None, 2)             0
____________________________________________________________________________________________________
PromoInterval_flt (Flatten)      (None, 2)             0
____________________________________________________________________________________________________
Year_flt (Flatten)               (None, 2)             0
____________________________________________________________________________________________________
CompetitionMonthsOpen_flt (Flatt (None, 13)            0
____________________________________________________________________________________________________
StoreType_flt (Flatten)          (None, 2)             0
____________________________________________________________________________________________________
Week_flt (Flatten)               (None, 26)            0
____________________________________________________________________________________________________
Promo2Weeks_flt (Flatten)        (None, 13)            0
____________________________________________________________________________________________________
Promo_fw_flt (Flatten)           (None, 3)             0
____________________________________________________________________________________________________
Promo_bw_flt (Flatten)           (None, 3)             0
____________________________________________________________________________________________________
StateHoliday_fw_flt (Flatten)    (None, 2)             0
____________________________________________________________________________________________________
StateHoliday_bw_flt (Flatten)    (None, 2)             0
____________________________________________________________________________________________________
SchoolHoliday_fw_flt (Flatten)   (None, 4)             0
____________________________________________________________________________________________________
SchoolHoliday_bw_flt (Flatten)   (None, 4)             0
____________________________________________________________________________________________________
contin_d (Dense)                 (None, 160)           2720
____________________________________________________________________________________________________
merge_1 (Merge)                  (None, 348)           0
____________________________________________________________________________________________________
dropout_1 (Dropout)              (None, 348)           0
____________________________________________________________________________________________________
dense_1 (Dense)                  (None, 1000)          349000
____________________________________________________________________________________________________
dense_2 (Dense)                  (None, 500)           500500
____________________________________________________________________________________________________
dropout_2 (Dropout)              (None, 500)           0
____________________________________________________________________________________________________
dense_3 (Dense)                  (None, 1)             501
====================================================================================================
Total params: 911,846.0
Trainable params: 911,846.0
Non-trainable params: 0.0
____________________________________________________________________________________________________

### Start training

In [144]:
np.array(map_train).shape

(38, 759904, 1)

In [151]:
%%time 
hist = model.fit(map_train[:23], y_train, batch_size=128, nb_epoch=25,
                 verbose=0, validation_data=(map_valid, y_valid))

/home/ubuntu/anaconda3/lib/python3.6/site-packages/keras/engine/training.py:1393: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  warnings.warn('The `nb_epoch` argument in `fit` '

ValueError: Error when checking model input: expected contin to have shape (None, 16) but got array with shape (759904, 1)

In [ ]:
hist.history

In [ ]:
plot_train(hist)

In [ ]:
preds = np.squeeze(model.predict(map_valid, 1024))

Result on validation data:  0.1678 (samp 150k, 0.75 trn)

In [ ]:
log_max_inv(preds)

In [ ]:
normalize_inv(preds)

## Using 3rd place data

In [ ]:
pkl_path = '/data/jhoward/github/entity-embedding-rossmann/'

In [ ]:
def load_pickle(fname): 
    return pickle.load(open(pkl_path+fname + '.pickle', 'rb'))

In [ ]:
[x_pkl_orig, y_pkl_orig] = load_pickle('feature_train_data')

In [ ]:
max_log_y_pkl = np.max(np.log(y_pkl_orig))
y_pkl = np.log(y_pkl_orig)/max_log_y_pkl

In [ ]:
pkl_vars = ['Open', 'Store', 'DayOfWeek', 'Promo', 'Year', 'Month', 'Day', 
     'StateHoliday', 'SchoolHoliday', 'CompetitionMonthsOpen', 'Promo2Weeks', 
    'Promo2Weeks_L', 'CompetitionDistance',
    'StoreType', 'Assortment', 'PromoInterval', 'CompetitionOpenSinceYear',
    'Promo2SinceYear', 'State', 'Week', 'Max_TemperatureC', 'Mean_TemperatureC', 
    'Min_TemperatureC', 'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 'Max_Wind_SpeedKm_h', 
    'Mean_Wind_SpeedKm_h', 'CloudCover','Events', 'Promo_fw', 'Promo_bw', 
    'StateHoliday_fw', 'StateHoliday_bw', 'AfterStateHoliday', 'BeforeStateHoliday', 
    'SchoolHoliday_fw', 'SchoolHoliday_bw', 'trend_DE', 'trend']

In [ ]:
x_pkl = np.array(x_pkl_orig)

In [ ]:
gt_enc = StandardScaler()
gt_enc.fit(x_pkl[:,-2:])

In [ ]:
x_pkl[:,-2:] = gt_enc.transform(x_pkl[:,-2:])

In [ ]:
x_pkl.shape

In [ ]:
x_pkl = x_pkl[idxs]
y_pkl = y_pkl[idxs]

In [ ]:
x_pkl_trn, x_pkl_val = x_pkl[:train_size], x_pkl[train_size:]
y_pkl_trn, y_pkl_val = y_pkl[:train_size], y_pkl[train_size:]

In [ ]:
x_pkl_trn.shape

In [ ]:
xgb_parms = {'learning_rate': 0.1, 'subsample': 0.6, 
             'colsample_bylevel': 0.6, 'silent': True, 'objective': 'reg:linear'}

In [ ]:
xdata_pkl = xgboost.DMatrix(x_pkl_trn, y_pkl_trn, feature_names=pkl_vars)

In [ ]:
xdata_val_pkl = xgboost.DMatrix(x_pkl_val, y_pkl_val, feature_names=pkl_vars)

In [ ]:
xgb_parms['seed'] = random.randint(0,1e9)
model_pkl = xgboost.train(xgb_parms, xdata_pkl)

In [ ]:
model_pkl.eval(xdata_val_pkl)

In [ ]:
#0.117473

In [ ]:
importance = model_pkl.get_fscore()
importance = sorted(importance.items(), key=operator.itemgetter(1))

df = pd.DataFrame(importance, columns=['feature', 'fscore'])
df['fscore'] = df['fscore'] / df['fscore'].sum()

df.plot(kind='barh', x='feature', y='fscore', legend=False, figsize=(6, 10))
plt.title('XGBoost Feature Importance')
plt.xlabel('relative importance');

### Neural net

In [ ]:
#np.savez_compressed('vars.npz', pkl_cats, pkl_contins)
#np.savez_compressed('deps.npz', y_pkl)

In [ ]:
pkl_cats = np.stack([x_pkl[:,pkl_vars.index(f)] for f in cat_vars], 1)
pkl_contins = np.stack([x_pkl[:,pkl_vars.index(f)] for f in contin_vars], 1)

In [ ]:
co_enc = StandardScaler().fit(pkl_contins)
pkl_contins = co_enc.transform(pkl_contins)

In [ ]:
pkl_contins_trn, pkl_contins_val = pkl_contins[:train_size], pkl_contins[train_size:]
pkl_cats_trn, pkl_cats_val = pkl_cats[:train_size], pkl_cats[train_size:]
y_pkl_trn, y_pkl_val = y_pkl[:train_size], y_pkl[train_size:]

In [ ]:
def get_emb_pkl(feat):
    name, c = cat_map_info(feat)
    c2 = (c+2)//3
    if c2>50: c2=50
    inp = Input((1,), dtype='int64', name=name+'_in')
    u = Flatten(name=name+'_flt')(Embedding(c, c2, input_length=1, init=emb_init)(inp))
    return inp,u

In [ ]:
n_pkl_contin = pkl_contins_trn.shape[1]
contin_inp = Input((n_pkl_contin,), name='contin')
contin_out = BatchNormalization()(contin_inp)

In [ ]:
map_train_pkl = split_cols(pkl_cats_trn) + [pkl_contins_trn]
map_valid_pkl = split_cols(pkl_cats_val) + [pkl_contins_val]

In [ ]:
def train_pkl(bs=128, ne=10):
    return model_pkl.fit(map_train_pkl, y_pkl_trn, batch_size=bs, nb_epoch=ne,
                 verbose=0, validation_data=(map_valid_pkl, y_pkl_val))

In [ ]:
def get_model_pkl(): 
    conts = [get_contin_pkl(feat) for feat in contin_map_fit.features]
    embs = [get_emb_pkl(feat) for feat in cat_map_fit.features]
    x = merge([emb for inp,emb in embs] + [contin_out], mode='concat')

    x = Dropout(0.02)(x)
    x = Dense(1000, activation='relu', init='uniform')(x)
    x = Dense(500, activation='relu', init='uniform')(x)
    x = Dense(1, activation='sigmoid')(x)

    model_pkl = Model([inp for inp,emb in embs] + [contin_inp], x)
    model_pkl.compile('adam', 'mean_absolute_error')
    #model.compile(Adam(), 'mse')
    return model_pkl

In [ ]:
model_pkl = get_model_pkl()

In [ ]:
train_pkl(128, 10).history['val_loss']

In [ ]:
K.set_value(model_pkl.optimizer.lr, 1e-4)
train_pkl(128, 5).history['val_loss']

In [ ]:
"""
1 97s - loss: 0.0104 - val_loss: 0.0083
2 93s - loss: 0.0076 - val_loss: 0.0076
3 90s - loss: 0.0071 - val_loss: 0.0076
4 90s - loss: 0.0068 - val_loss: 0.0075
5 93s - loss: 0.0066 - val_loss: 0.0075
6 95s - loss: 0.0064 - val_loss: 0.0076
7 98s - loss: 0.0063 - val_loss: 0.0077
8 97s - loss: 0.0062 - val_loss: 0.0075
9 95s - loss: 0.0061 - val_loss: 0.0073
0 101s - loss: 0.0061 - val_loss: 0.0074
"""

In [ ]:
plot_train(hist)

In [ ]:
preds = np.squeeze(model_pkl.predict(map_valid_pkl, 1024))

In [ ]:
y_orig_pkl_val = log_max_inv(y_pkl_val, max_log_y_pkl)

In [ ]:
rmspe(log_max_inv(preds, max_log_y_pkl), y_orig_pkl_val)

## XGBoost

In [ ]:
X_train = np.concatenate([cat_map_train, contin_map_train], axis=1)

In [ ]:
X_valid = np.concatenate([cat_map_valid, contin_map_valid], axis=1)

In [ ]:
all_vars = cat_vars + contin_vars

In [ ]:
xgb_parms = {'learning_rate': 0.1, 'subsample': 0.6, 
             'colsample_bylevel': 0.6, 'silent': True, 'objective': 'reg:linear'}

In [ ]:
xdata = xgboost.DMatrix(X_train, y_train, feature_names=all_vars)

In [ ]:
xdata_val = xgboost.DMatrix(X_valid, y_valid, feature_names=all_vars)

In [ ]:
xgb_parms['seed'] = random.randint(0,1e9)
model = xgboost.train(xgb_parms, xdata)

In [ ]:
model.eval(xdata_val)

In [ ]:
model.eval(xdata_val)

In [ ]:
importance = model.get_fscore()
importance = sorted(importance.items(), key=operator.itemgetter(1))

df = pd.DataFrame(importance, columns=['feature', 'fscore'])
df['fscore'] = df['fscore'] / df['fscore'].sum()

df.plot(kind='barh', x='feature', y='fscore', legend=False, figsize=(6, 10))
plt.title('XGBoost Feature Importance')
plt.xlabel('relative importance');

## End